body{
  background-color: black;
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.calculator{
  box-sizing: border-box;
  width: 310px;
  max-height: 600px;
  padding: 18px 16px 24px 16px;
  border: 3px solid #9F9F9F;
  border-radius: 36px;
}

.container{
  align-self: flex-start;
  box-sizing: border-box;
  width: 272px;
  height: 200px;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  word-wrap: break-word;
  margin-bottom: 16px;
  background-color: #2C3032;
  overflow: hidden;
  border-radius: 16px;
}

.display{
  color: white;
  font-size: 40px;
  text-align: end;
  padding-right: 6px;
  margin: 0;
  overflow: hidden;
}

.buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  user-select: none;
}

button{
  border: 0;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 30px;
}

.number{
  background-color: #313131;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.operator, #equal{
  background-color: #F69906;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.func{
  color: black;
  background-color: #9F9F9F;
}